@model Anything.ViewModels.HotelCreateViewModel
<style type="text/css">
    fieldset h2 {
        color: #5fc8c2;
    }
</style>



<div class="wrap">
    @using (Html.BeginForm())
    {
        @Html.HiddenFor(model=>model.ID)
    <!--基本資料-->
        <div class="row">
            <!--three-fourth content-->
            <div class="full-width">
                <form id="booking" method="post" action="booking-step3.html" class="static-content booking">

                    <fieldset>
                        <h2><span>01 </span>基本資料</h2>
                        <div class="panel panel-grassgreen">
                            <div class="panel-body">
                                <div class="row">
                                    <div class="f-item full-width">
                                        <label>名稱</label>
                                        @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                                    </div>

                                </div>
                                <div class="row">
                                    <div class="f-item full-width">
                                        <label>所在地</label>
                                        <div class="f-item full-width">
                                            @Html.Partial("_Locations")
                                            @Html.ValidationMessageFor(model => model.Location, "", new { @class = "text-danger" })
                                        </div>
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="f-item full-width">
                                        <label>縣市地區</label>
                                       
                                            @Html.Partial("_TaiwanSelectList")
                                            @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                            @Html.ValidationMessageFor(model => model.Area, "", new { @class = "text-danger" })
                                        
                                        </div>
                                    </div>
                                <div class="row">
                                    <div class="f-item full-width">
                                        <label>地址</label>
                                        @Html.EditorFor(model => model.Address, new { htmlAttributes = new { @placeholder = "民宿地址", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                                    </div>
                                    
                                   
                                </div>
                                <div class="row">
                                    <div class="f-item full-width">
                                        <label>連絡電話</label>
                                        @Html.EditorFor(model => model.Tel, new { htmlAttributes = new { @placeholder = "連絡電話", @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Tel, "", new { @class = "text-danger" })
                                    </div>
                                    
                                </div>
                               
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>

        </div>

    <!--圖片上傳-->
            <div class="row">
        <div class="full-width">
            <fieldset>
                <h2><span>02 </span>圖片上傳</h2>
                <div class="panel panel-grassgreen">
                    <div class="panel-body">
                        <div class="row">
                            <div class="f-item full-width">
                                <label>圖片上傳</label>
                                @Html.Partial("_ImageUpload")
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>

        </div>

    </div>

    <!--特色介紹-->
        <div class="row">
            <div class="full-width">
                <fieldset>
                    <h2><span>03 </span>特色介紹</h2>
                    <div class="panel panel-grassgreen">
                        <div class="panel-body">
                            <div class="row">
                                <div class="f-item full-width">
                                    <label>官網</label>
                                    @Html.EditorFor(model => model.WebSite, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.WebSite, "", new { @class = "text-danger" })
                                </div>
                            </div>
                            <div class="row">
                                <label>民宿介紹</label>
                                <div class="f-item full-width">
                                    @Html.TextAreaFor(model => model.Introduce, new { htmlAttributes = new { @class = "" } })
                                    @Html.ValidationMessageFor(model => model.Introduce, "", new { @class = "text-danger" })
                                </div>
                            </div>

                            <div class="row">
                                <label>特色推薦</label>
                                <div class="f-item full-width">
                                    @Html.TextAreaFor(model => model.Feature, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Feature, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

        </div>

    <!--注意事項-->
        <div class="row">
            <div class="full-width">
                <fieldset>
                    <h2><span>04 </span>注意事項</h2>
                    <div class="panel panel-grassgreen">
                        <div class="panel-body">
                            <div class="row">
                                <div class="f-item full-width">
                                    <label>注意事項</label>
                                    @Html.TextAreaFor(model => model.Information, new { htmlAttributes = new { @class = "form-control infomation", @id = "Information" } })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

        </div>

    <!--服務設施-->
        <div class="row">
            <div class="full-width">
                <fieldset>
                    <h2><span>05 </span>服務設施</h2>
                    <div class="panel panel-grassgreen">
                        <div class="panel-body">
                            <div class="row">
                                <div class="f-item full-width">
                                    <label>服務設施</label>
                                    @{
        if (ViewBag.ServiceOptions != null)
        {
            <div class="full-width">
                @foreach (var item in (List<Anything.ViewModels.ServiceOptionCheckbox>)ViewBag.ServiceOptions)
                {
                    <div class="one-fifth">
                        <div class="checkbox">
                            <label>
                                    @if (item.Checked) 
                                    { 
                                    <input name="ServiceOptions" checked type="checkbox" value="@item.ID" />@item.Text
                                    }
                                    else 
                                    { 
                                     <input name="ServiceOptions" type="checkbox" value="@item.ID" />@item.Text
                                    }
                                        </label>
                        </div>
                    </div>
                }
            </div>
        }
                                    }


                                    @Html.ValidationMessageFor(model => model.ServiceOptions, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

        </div>

    <!--熱門景點-->
        <div class="row">
            <div class="full-width">
                <fieldset>
                    <h2><span>06 </span>熱門景點</h2>
                    <div class="panel panel-grassgreen">
                        <div class="panel-body">
                            <div class="row">
                                <div class="f-item full-width">
                                    <label>熱門景點</label>
                                    @{
                                                if (ViewBag.Scenics != null)
                                                {
                                                    <div class="full-width">
                                                        @foreach (var item in (List<Anything.ViewModels.ScenicsCheckbox>)ViewBag.Scenics)
                                                        {
                                                            <div class="one-fifth">
                                                                <div class="checkbox">
                                                                    @if (item.Checked)
                                                                    {
                                                                        <label>
                                                                            <input name="Scenics" checked type="checkbox" value="@item.ID" />@item.Name
                                                                        </label>
                                                                    }
                                                                    else { 
                                                                        <label>
                                                                        <input name="Scenics" type="checkbox" value="@item.ID" />@item.Name
                                                                        </label>
                                                                    }
                                                                </div>
                                                            </div>
                                                        }
                                                    </div>
                                                }
                                    }
                                    @Html.ValidationMessageFor(model => model.Scenics, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>

            </div>

        </div>

   

        <div class="full-width">
            <div class="col-lg-offset-10">
                <label>
                    開始營業
                    @Html.EditorFor(model => model.SaleOff)
                    @Html.ValidationMessageFor(model => model.SaleOff, "", new { @class = "text-danger" })
                </label>
                <button type="submit" class="btn btn-grassgreen">
                    確定
                </button>
            </div>
        </div>
    }
</div>
