@model IEnumerable<Anything.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = (int)ViewBag.HotelId })
</p>
<table class="table">
    <tr>
       
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SellPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DiscountPrice)
        </th>
        <th>
            房型
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.Enabled)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @item.SellPrice
        </td>
        <td>
            @item.DiscountPrice
        </td>
        <td>
            @Anything.Helper.Helpers.Room.RoomType(item.RoomBed)
        </td>
        <td>
            @item.Amount
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.Enabled)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
