
@model Anything.ViewModels.HotelDetail


<script src="~/Content/js/infobox.js"></script>

<script src="~/Scripts/lightgallery-all.min.js"></script>
<link href="~/Content/lightgallery.min.css" rel="stylesheet" />
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB1995kqdkunc5cGppQX1oeod30a9g-l9c&callback=initMap"
        type="text/javascript"></script>
<script type="text/javascript">
    function initialize() {
        initMap();
        function initMap() {
            var map = new google.maps.Map(document.getElementById('map_canvas'), {
                zoom: 15,
                center: { lat: -34.397, lng: 150.644 }
            });
            var geocoder = new google.maps.Geocoder();
            var address = document.getElementById('address').value;
            console.log(address);
            //document.getElementById('submit').addEventListener('click', function () {
            geocodeAddress(geocoder,address, map);
            //});
        }

        function geocodeAddress(geocoder,address, resultsMap) {
          
            //var address = document.getElementById('address').value;
            geocoder.geocode({ 'address': address }, function (results, status) {
                if (status === google.maps.GeocoderStatus.OK) {
                    resultsMap.setCenter(results[0].geometry.location);
                    var marker = new google.maps.Marker({
                        map: resultsMap,
                        position: results[0].geometry.location
                    });
                } else {
                    alert('Geocode was not successful for the following reason: ' + status);
                }
            });
        }

        //var secheltLoc = new google.maps.LatLng(49.47216, -123.76307);

        //var myMapOptions = {
        //    zoom: 15
		//	,center: secheltLoc
		//	,mapTypeId: google.maps.MapTypeId.ROADMAP
        //};

       
        //var theMap = new google.maps.Map(document.getElementById("map_canvas"), myMapOptions);


        var marker = new google.maps.Marker({
            map: theMap,
            draggable: true,
            position: new google.maps.LatLng(49.47216, -123.76307),
            visible: true
        });

        //var boxText = document.createElement("div");
        //boxText.innerHTML = "<strong>Best ipsum hotel</strong>1400 PennsylSUVia Ave,Washington DCwww.bestipsumhotel.com";

        //var myOptions = {
        //    content: boxText
		//	,disableAutoPan: false
		//	,maxWidth: 0
		//	,pixelOffset: new google.maps.Size(-140, 0)
		//	,zIndex: null
		//	,closeBoxURL: ""
		//	,infoBoxClearance: new google.maps.Size(1, 1)
		//	,isHidden: false
		//	,pane: "floatPane"
		//	,enableEventPropagation: false
        //};

        //google.maps.event.addListener(marker, "click", function (e) {
        //    ib.open(theMap, this);
        //});

        //var ib = new InfoBox(myOptions);
        //ib.open(theMap, marker);
    }
</script>
<div class="wrap">
    <nav class="breadcrumbs">
      
    </nav>
    <div class="row">
        <section class="three-fourth">
        @*<div class="full-width">
            <h1>@Model.Name</h1>
        </div>*@
        <!--hotel three-fourth content-->
        <section class="full-width">
            <!--gallery-->
            <div class="gallery">
                @if (Model.Images != null && Model.Images.Count > 0)
                {
                    

                    <ul id="image-gallery" class="cS-hidden">
                        @foreach (var img in Model.Images)
                        {
                           
                            <li data-thumb="@img.Path">
                                <img src="@img.Path" alt="" />
                            </li>

                        }
                    </ul>

                }
            </div>
            <!--//gallery-->
            <!--inner navigation-->
            <nav class="inner-nav">
                <ul>
                    <li class="availability"><a href="#availability" title="Rooms" data-localize="rooms">房型</a></li>
                    <li class="things-to-do"><a href="#description" title="Description" data-localize="feature">特色</a></li>
                    <li class="facilities"><a href="#facilities" title="Facilities" data-localize="facilities">設施</a></li>
                    <li class="location"><a href="#location" title="Location" data-localize="location">地點</a></li>
                    <li class="description"><a href="#Infomation" title="Infomation" data-localize="location">注意事項</a></li>
                </ul>
            </nav>
            <!--//inner navigation-->
            <!--availability-->
            <section id="availability" class="tab-content">
                <article>
                    <h2 data-localize="rooms">房型</h2>
                 
                    @Html.Partial("_RoomType", Model.Rooms)
                </article>
            </section>
            <!--//availability-->
            <!--description-->
            <section id="description" class="tab-content">
                <article>
                    <h2 data-localize="hotelfeature">旅館介紹</h2>
                    <div class="text-wrap">
                        <p>
                            @Model.Feature
                        </p>
                    </div>


                </article>
            </section>
            <!--//description-->
            <!--facilities-->
            <section id="facilities" class="tab-content">
                <article>
                    <h2 data-localize="facilities">Facilities</h2>
                    <div class="text-wrap">
                        <ul class="three-col">
                            @foreach (var fa in Model.Facilities)
                            {
                                <li>
                                    @fa
                                </li>
                            }
                          
                        </ul>
                    </div>


                </article>
            </section>
            <!--//facilities-->
            <!--location-->
            <section id="location" class="tab-content">
                <input type="hidden" id="address" value="@Model.Address" />
                <article>
                    <!--map-->
                    <div class="gmap" id="map_canvas"></div>
                    <!--//map-->
                </article>
            </section>

            <section id="Infomation" class="tab-content">
                <article>
                    <h2 data-localize="hotelfeature">旅館介紹</h2>
                    <div class="text-wrap">
                        <p>
                            @Html.Raw(Model.Infomation)
                        </p>
                    </div>


                </article>
            </section>
           
        </section>
        </section>
        <aside class="one-fourth right-sidebar">
            <!--hotel details-->
            <article class="hotel-details">
                <p>
                    <h1>
                        @Model.Name

                    </h1>
                </p>
                <p class="number">@Model.Tel</p>
                <span class="address">@Model.Address</span>
               
               
                <div class="tags">
                    <ul>
                        @foreach (var s in (List<string>)ViewBag.Scenics) { 
                        <li><a href="javascript:void(0);" title="@s">@s</a></li>
                         
                        }
                    </ul>
                </div>
            </article>
            
            <article class="widget">
                <h4>推薦</h4>
                @foreach (var item in (List<Anything.Models.Hotel>)ViewBag.NearHotels)
                {
                    <div class="deal-of-the-day">
                        <figure><a href="@Url.Action("Detail", new { id= item.ID })" title="">
                            @if (item.HotelImage.Count > 0)
                            {
                                <img src="@Url.Action("Image", "Hotel", new { id = item.HotelImage.ToList()[0].ID })" alt="" />
                            }
                            else
                            {
                                <img src="~/images/uploads/img.jpg" />
                            }
                        </a>

                        </figure>
                        <h3>
                            <a href="@Url.Action("Detail", new { id= item.ID })">
                               @item.Name
                                
                            </a>
                        </h3>
                        <p> 只要 <span class="price">@Model.Rooms.ToList().Min(o=>o.DayPrice).ToString("#,##0")<small> 起</small></span></p>
                        @*<p class="number">@Model.Tel</p>*@
                    </div>
                }
               
            </article>
            <!--//Deal of the day-->
        </aside>
    </div>
</div>
<script type="text/javascript">
    jQuery(function () {
        $('#image-gallery').lightSlider({
            gallery: true,
            item: 1,
            thumbItem: @Model.Images.Count,
            slideMargin: 0,
            speed: 500,
            auto: true,
            loop: true,
            onSliderLoad: function () {
                $('#image-gallery').removeClass('cS-hidden');
            }
        });

        $('#gallery1,#gallery2,#gallery3,#gallery4').lightGallery({
            download: false
        });

      
       

    })
</script>