@model Anything.ViewModels.BookingModel
@{
    ViewBag.Title = "Booking";
}

<style type="text/css">
    option{
        cursor:pointer;
    }
    option:disabled{
        background-color:#E0E0E0;
        cursor:default;
        pointer-events:none;
    }
</style>
<div class="wrap">
    <div class="full-width">
        <nav class="breadcrumbs">
          
        </nav>
        <!--//breadcrumbs-->

        <div class="row">
            @using (Html.BeginForm("Booking", "Home", FormMethod.Post, new { @class = "static-content booking" }))
            {
                @Html.HiddenFor(model => model.Total)
                @Html.HiddenFor(model => model.DateList)
            <div class="three-fourth">
               
                    <fieldset>
                        <h2><span><i class="fa fa-credit-card-alt" aria-hidden="true"></i> </span>訂單資訊</h2>
                        <div class="row">
                            <div class="f-item full-width">
                                <label for="first_name">姓名</label>
                                @Html.EditorFor(model => model.info.Name)
                                @*<input type="text" id="first_name" name="first_name" />*@
                            </div>
                            
                        </div>

                        <div class="row">
                            <div class="f-item full-width">
                                <label for="email">Email信箱</label>
                                @Html.EditorFor(model => model.info.Email)
                            </div>
                            
                        </div>

                        <div class="row">
                           
                            <div class="f-item full-width">
                                <label for="address">聯絡電話</label>
                                @Html.EditorFor(model => model.info.Phone)
                            </div>
                        </div>

                        <div class="row">
                            <div class="f-item one-fourth">
                                <label for="zip">郵遞區號</label>
                               @Html.EditorFor(model => model.info.ZipCode)
                            </div>
                            
                        </div>

                        <div class="row">
                           
                            <div class="f-item full-width">
                                <label for="address">完整地址</label>
                                @Html.EditorFor(model => model.info.Address)
                            </div>

                        </div>

                        <div class="row">

                            <div class="f-item full-width">
                                <label for="address">付款方式</label>
                                <select class="form-control" name="PaymentType">
                                    <option value="1">
                                        信用卡
                                    </option>
                                    <option value="2">
                                        信用卡分期/6期
                                    </option>
                                    <option value="3">
                                        網路ATM
                                   </option>                                  
                                    <option value="4">
                                        實體ATM
                                    </option>
                                    <option value="5">
                                        超商付款
                                    </option>
                                    <option value="6">
                                        條碼付款
                                    </option>
                                    
                                </select>
                            </div>

                        </div>


                        <div class="row">
                            <div class="f-item full-width">
                                <input type="submit" class="gradient-button" value="付款" id="next-step" />
                            </div>
                        </div>
                    </fieldset>
               
            </div>
                       
           
            <aside class="one-fourth right-sidebar">
                <!--Booking details-->
                <article class="hotel-details booking-details">
                    <p>
                        <h1>
                            @Model.Name

                        </h1>
                    </p>
                    
                    <p class="number">@Model.Tel</p>
                    <span class="address">@Model.Address</span>
                   
                    <dl class="booking-info">
                        <dt>房型</dt>
                        <dd>@Model.RoomType</dd>
                        <dt>床型</dt>
                        <dd>@Model.BedType</dd>
                        <dt>入住日期</dt>
                        <dd id="CheckInDate" name="CheckInDate">@Model.CheckInDate.ToString("yyyy-MM-dd")</dd>
                        <dt>退房日期</dt>
                        <dd id="CheckOutDate" name="CheckOutDate">@Model.CheckOutDate.ToString("yyyy-MM-dd")</dd>
                        @*<dt>金額</dt>
                        <dd id="UnitPrice">@Model.UnitPrice</dd>*@
                        @*<dt>Room(s)</dt>
                        <dd>
                        1 night, 1 room, max. 2 people. 
                        </dd>*@
                    </dl>
                    <div class="price">
                        @if (Model.Quantity <= 0)
                        {
                            <p class="alert alert-danger"><span>客滿</span></p>
                        }
                        else
                        {
                            <select name="Quantity" class="form-control">
                                @for (var i = 1; i <= Model.Quantity;i++)
                                {
                                    <option value="@i">@i</option>
                                }
                            </select>
                        }
                    </div>
                    <div class="price">
                        <input type="hidden" id="UnitPrice" value="@Model.Total.ToString("#.##")" />
                        <p class="total">總金額:  NT. <span>@Model.Total.ToString("#.##")</span></p>
                        @*<p>VAT (20%) included</p>*@
                    </div>
                </article>
                <!--//Booking details-->
                <!--Need Help Booking?-->
                @*<article class="widget">
                    <h4>其他日期</h4>
                    @if (ViewBag.PriceList != null)
                    {
                        foreach (var item in (List<Anything.ViewModels.DatePrices>)ViewBag.PriceList)
                        {
                            <p>
                                <label>
                                    @if (item.Checked)
                                    {
                                        <input type="checkbox" name="checkdate" data-price="@item.Price" value="@item.Date" checked />
                                    }
                                    else
                                    {
                                        <input type="checkbox" name="checkdate" data-price="@item.Price" value="@item.Date" />
                                    }
                                    @item.Date
                                </label>
                                <label>
                                    @item.Price
                                </label>
                            </p>
                        }
                    }
                </article>*@
                <!--//Need Help Booking?-->
            </aside>
            }
          
        </div>
    </div>
   
</div>
<script type="text/javascript">

    jQuery(function () {

        let Quantity = $('select[name=Quantity]');
        let UnitPrice = $('#UnitPrice').val();
        let Total = $('.total').find('span');
        
        let Qty = parseInt(Quantity.val());
        let Price = parseInt(UnitPrice);
        Total.text(Qty * Price);

        Quantity.on('change', function () {
            let self = $(this);
            let Qty = parseInt(self.val());
            let Price = parseInt(UnitPrice);
            Total.text(Qty * Price);
        });
        //var total_input = $('#Total');
        //var dateList = $('#DateList');
        //var total_span = $('.total').find('span');
        //$('input[name=checkdate]').on("change", function () {
        //    settingTotalInCheckList();
        //});

        
        //settingTotalInCheckList();

        //function settingTotalInCheckList() {
        //    let checkboxs = $('input[name=checkdate]');
        //    let total = 0;
        //    var dates = [];
        //    for (var i = 0, max = checkboxs.length; i < max; i++) {
        //        if ($(checkboxs[i]).prop('checked')) {
        //            dates.push($(checkboxs[i]).val());
        //            var price = $(checkboxs[i]).attr('data-price');
        //            total += parseInt(price.replace(',', ''));
        //            total_span.text(total);
        //            total_input.val(total);
        //            dateList.val(dates.join(','));
        //        }
        //    }

        //    SetCheckDate();
        //};

        //function SetCheckDate() {
        //    var InDate = $('#CheckInDate');
        //    var OutDate = $('#CheckOutDate');
        //    let checkboxs = $('input[name=checkdate]:checked');
        //    InDate.text(checkboxs.first().val());
        //    var outdate = new Date(checkboxs.last().val());
        //    var indate = new Date(checkboxs.first().val());
        //    let newOutDate = new Date(outdate.setDate(outdate.getDate() + 1));
        //    var y = newOutDate.getFullYear();
        //    var m = (newOutDate.getMonth() + 1) < 10 ? "0" + (newOutDate.getMonth() + 1) : newOutDate.getMonth() + 1;
        //    var d = newOutDate.getDate() < 10 ? "0" + newOutDate.getDate() : newOutDate.getDate();
        //    OutDate.text(y + "/" + m + "/" + d);
        //    var Now = new Date();
        //    var dd = Now.getDate();
        //    var thisDate = indate.getDate();
           
        //    if ((thisDate-dd) <= 1) {
        //        $('select[name=PaymentType] option[value="4"]').attr('disabled', true);
        //        $('select[name=PaymentType] option[value="5"]').attr('disabled', true);
        //    } else {
        //        $('select[name=PaymentType] option[value="4"]').attr('disabled', false);
        //        $('select[name=PaymentType] option[value="5"]').attr('disabled', false);
        //    }
        //}
    })
</script>
