@using Microsoft.AspNet.Identity

<div class="ribbon">
    <nav>
        <ul class="profile-nav">
            @*<li class="active"><a href="javascript:void(0);" title="My Account">My Account</a></li>*@
            @if (Request.IsAuthenticated)
            {
               
                //using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                // {
                //@Html.AntiForgeryToken()

                    <li class="active"><a href="@Url.Action("/", "Home", new { area = "My"})" title="My Account">@User.Identity.Name</a></li>
                if (User.IsInRole("Admin"))
                {
                    <li class="active"><a href="@Url.Action("/", new { area = "System"})" title="系統">系統管理</a></li>
                }
                    <li class="active"><a href="@Url.Action("LogOff","Account")" title="Sign Out">登出</a></li>

               // }

               

                @*<li class="active"><a href="my_account.html" title="Settings">Settings</a></li>*@
            }
            else
            {
                <li class="active"><a id="btnlogin" href="javascript:void(0);" title="登入">登入</a></li>
                <li class="active"><a href="@Url.Action("Register","AccountForUser")" title="註冊">註冊</a></li>
            }
        </ul>

    </nav>
</div>





