
@model IEnumerable<Anything.ViewModels.RoomModel>
@{
    var idx = 1;
    var gallery = "gallery";
}
<ul class="room-types">
    @foreach (var item in Model)
    {
    <!--room-->
        var id = gallery + (idx++).ToString();
        <li>
            <figure class="left" id="@id">
                @foreach (var img in item.Images)
                {
                    //var base64 = Convert.ToBase64String(img.Image);
                    //var imgSrc = String.Format("data:image/gif;base64,{0}", base64);
                    <a href="@img.Path" data-sub-html="<p>@item.Name</p>">
                        <img src="@img.Path" alt="" />

					    <span class="image-overlay"></span>
                    		</a>
                }
            </figure>
            <div class="meta">
                <h3 style="text-shadow:2px 2px #F0F0F0;">@item.Name</h3>
                <p>@item.Feature</p>
                @if (!item.HasBreakfast)
                {
                    <p data-localize="nonbreakfast">不含早餐</p>
                }
                else
                {
                    <p data-localize="hasbreakfast">包含早餐</p>
                }

                @*<a href="javascript:void(0)" title="more info" class="more-info">+ more info</a>*@
            </div>
            <div class="room-information">
                <div class="row">
                    <span class="first" data-localize="roomtype">房型:</span>
                    <span class="second">
                        @item.RoomType
                        @*@WGHotel.Helpers.CodeFiles.GetCodeFileDescription(item.RoomType)*@
                    </span>
                </div>
                <div class="row">
                    <span class="first" data-localize="bedtype">床型:</span>
                    <span class="second">
                        @*@WGHotel.Helpers.CodeFiles.GetCodeFileDescription(item.BedType)*@
                       <span>@item.BedType</span> / <span>@item.BedAmount</span>
                        @*<i class="material-icons">&#xE7FD;</i>*@
                    </span>
                </div>

                <div class="row">
                  
                    <span class="second price" style="font-weight:bold;text-shadow:2px 2px #F0F0F0;color:#3FAEA9;float:left;font-size:14px;">
                    NT.@item.CurrentPrice.ToString("#,##0")</span>
                <span>&nbsp / 晚</span>
                </div>
               
                <a href="@Url.Action("Booking", new { id=item.ID})" class="gradient-button" title="Book">訂房</a>
            </div>
            <div class="more-information">
                   
              </div>
        </li>

    }
</ul>
